<template>
  <div class="container mt-5">
    <form v-if="!formDone">
      <div class="progress">
        <div class="progress-bar" :style="progressStyles"></div>
      </div>
      <div class="mt-2">
        <field
          v-for="(field, i) in info"
          :key="i"
          :name="field.name"
          :value="field.value"
          :valid="field.valid"
          @input="onInput($event, i)"
          class="mt-2"
        >
        </field>
      </div>
      <button
        class="btn btn-primary mt-3"
        :disabled="!formValid"
        type="button"
        @click="formReady"
      >
        Send Data
      </button>
    </form>
    <div v-else>
      <table class="table table-bordered container mt-5">
        <tr v-for="(field, i) in info" :key="i">
          <td>{{ field.name }}</td>
          <td>{{ field.value }}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import Field from "@/components/Field.vue";

export default {
  components: {
    Field,
  },
  data: () => ({
    info: [
      {
        name: "Name",
        value: "",
        pattern: /^[a-zA-Z ]{2,30}$/,
      },
      {
        name: "Phone",
        value: "",
        pattern: /^[0-9]{7,14}$/,
      },
      {
        name: "Email",
        value: "",
        pattern: /.+/,
      },
      {
        name: "Some Field 1",
        value: "",
        pattern: /.+/,
      },
      {
        name: "Some Field 2",
        value: "",
        pattern: /.+/,
      },
    ],
    formDone: false,
  }),
  computed: {
    fieldsDone() {
      return this.info.reduce(function (fieldsDoneCount, field) {
        return fieldsDoneCount + (field.valid ? 1 : 0);
      }, 0);
    },
    formValid() {
      return this.fieldsDone === this.info.length;
    },
    progressStyles() {
      return {
        width: (this.fieldsDone / this.info.length) * 100 + "%",
      };
    },
  },
  methods: {
    onInput(value, i) {
      let field = this.info[i];
      field.value = value.trim();
      field.valid = field.pattern.test(field.value);
    },
    formReady() {
      if (this.formValid) {
        this.formDone = true;
      }
    },
  },
  created() {
    return this.info.forEach((field) => {
      field.valid = false;
    });
  },
};
</script>
